* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  height: 70px;
  padding-top: 30px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  background-color: #1a1919;
  opacity: 90%;
  position: fixed;
  z-index: 5;
}

.logo {
  display: grid;
  max-width: 160px;
  grid-template-columns: repeat(2, 80px);
  margin-left: 70px;
  margin-top: -5px;
  cursor: pointer;
}

.logo img {
  width: 50px;
  height: 50px;
  margin-left: 60px;
  border-radius: 10px;
}

.logo span {
  font-size: 20px;
  color: #fff;
  padding-left: 35px;
}

.tools {
  display: grid;
  max-width: 500px;
  grid-template-columns: repeat(4, 100px);
  gap: 10;
  color: #fff;
  padding-top: 10px;
  margin-bottom: 25px;
}

.selection {
  display: flex;
  padding-top: 5px;
}

.tools p:first-child {
  color: black;
  text-wrap: nowrap;
  font-size: 13px;
  padding-right: 5px;
  margin-bottom: 8px;
  border-right: 1px solid #bbbbbb;
  cursor: pointer;
}

.selection img {
  height: 15px;
  width: 20px;
  margin-left: 5px;
  cursor: pointer;
}

.globe img {
  margin-left: 60px;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.Humburger {
  display: flex;
  margin-left: 40px;
  margin-top: 10px;
  cursor: pointer;
}

.tools span:last-of-type {
  color: #fff;
  padding-right: 10px;
}

.Humburger img {
  height: 20px;
  width: 50px;
}

.tools button {
  width: 180px;
  margin-left: 50px;
  margin-top: -9px;
  margin-bottom: 5px;
  padding: 10px 15px;
  text-wrap: nowrap;
  background-color: #ffc427;
  border: 1px solid #ffc427;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.bannersection {
  height: 100vh;
  background-image: url(./assets/LO4.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.banner {
  margin-top: 150px;
  margin-right: 50px;
  z-index: 1px;
  display: flex;
}

.bannertexts {
  margin-right: 20px;
  margin-left: 130px;
  margin-top: 90px;
  color: #fff;
}

.bannertexts h1 {
  font-size: 40px;
  padding-bottom: 15px;
}

.bannertexts p {
  font-size: 20px;
  padding-bottom: 20px;
}

.bannerbtns button:first-of-type {
  font-size: 18px;
  padding: 10px 20px;
  padding-right: 35px;
  text-transform: capitalize;
  background-color: #ee3831;
  border: 1px solid #ee3831;
  border-radius: 5px;
  margin: 2px;
  cursor: pointer;
}

.dslp {
  font-size: 18px;
  padding: 10px 20px;
  text-transform: capitalize;
  background-color: #009ddc;
  border: 1px solid #009ddc;
  border-radius: 5px;
  margin: 2px;
  cursor: pointer;
}

.newsbtn {
  font-size: 18px;
  padding: 32px 15px;
  padding-top: 10px;
  text-transform: uppercase;
  background-color: #009ddc;
  border: 1px solid #009ddc;
  border-radius: 5px;
  margin: 2px;
  margin-top: 5px;
  cursor: pointer;
}

.bannerrightimg img {
  cursor: pointer;
  height: 430px;
  width: 450px;
  margin-right: 100px;
}

.secbelowbanner {
  background-color: #242424;
  max-width: 1340;
  height: 200px;
  display: grid;
  grid-template-columns: repeat(2, 670px);
  cursor: pointer;
}

.secbelowbanner1 {
  border-right: 1px solid #595959;
  overflow-x: hidden;
}

.left {
  padding: 60px;
  color: #fff;
  display: flex;
}

.left img {
  height: 50px;
  width: 200px;
  padding-right: 10px;
}

.left h3 {
  font-size: 20px;
}

.left p {
  font-size: 14px;
  padding-top: 7px;
}

.right {
  color: #fff;
  display: flex;
  padding: 30px;
}

.right img {
  height: 120px;
  width: 100px;
  padding-right: 10px;
}

.right h3 {
  font-size: 20px;
  padding-top: 15px;
}

.right p {
  padding-top: 7px;
  font-size: 14px;
}

.moresec {
  height: 180px;
  display: grid;
  max-width: 1450px;
  grid-template-columns: 570px 250px 250px 278px;
  cursor: pointer;
  background-color: #1d3763;
  color: #fff;
  perspective: 100cap;
}

.learning {
  font-size: 20px;
  border-right: 1px solid #1a1919;
  background-color: #009ddc;
}

.learning h2 {
  padding: 30px;
  padding-left: 50px;
  padding-top: 70px;
}

.learning p {
  padding-left: 50px;
}

.learning span {
  color: #242424;
}

.news {
  margin: 0;
  border-right: 1px solid #1a1919;
  background-color: #009ddc;
  transition: width 0.4s ease-in, margin-left 0.4s ease-in;
}

.news:hover {
  margin-left: 30px;
}

.news h2 {
  font-size: 30px;
  padding-left: 20px;
  padding-top: 90px;
  text-transform: uppercase;
}

.about {
  margin: 0;
  border-right: 1px solid #1a1919;
  background-color: #009ddc;
  transition: width 0.4s ease-in, margin-left 0.4s ease-in;
}

.about:hover {
  margin-left: 30px;
}

.about h2 {
  padding-left: 20px;
  padding-top: 90px;
}

.about {
  border-right: 1px solid #1a1919;
}

.store {
  margin: 0;
  border-right: 1px solid #1a1919;
  background-color: #009ddc;
  transition: width 0.4s ease-in, margin-left 0.4s ease-in;
}

.store:hover {
  margin-left: 30px;
}

.store h2 {
  padding: 30px;
  padding-left: 40px;
  padding-top: 100px;
}

.col-3 {
  background-color: #2e460e;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  border-top: 1px solid #1a1919;
  border-bottom: 1px solid #1a1919;
  cursor: pointer;
}

.rhtimg1 {
  background-color: #7fc027;
  padding: 80px;
  color: #fff;
  border-right: 1px solid #1a1919;
  border-bottom: 1px solid #1a1919;
  grid-column: auto / span 2;
}

.rhtimg1:hover {
  /* z-index: 10; */
  /* transform: translate(-30px);*/
  border-right: 8px solid #476b16; 
  transform-style: preserve-3d;
  transform: rotateX(10deg) rotateY(-39deg) translateZ(-61px) translateX(-50px)
    translateY(-11px);
  transform-origin: left;
  transition: 1s;
}

.col-3 p {
  font-size: 20px;
  text-transform: capitalize;
}

.maintext {
  background-color: #7fc027;
  padding-top: 250px;
  grid-column: auto / span 2;
  grid-row: auto / span 2;
  padding-left: 100px;
  border-left: 1px solid #1a1919;
}

.maintext h1 {
  color: #fff;
  font-size: 40px;
  font-weight: 100;
  text-transform: uppercase;
}

.maintext h2 {
  color: #fff;
  font-size: 45px;
  text-transform: uppercase;
  font-weight: bold;
}

.maintext h5 {
  color: #383737;
  font-size: 20px;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 10px;
  font-weight: 300;
}

.maintext p {
  color: #444242;
  padding-left: 80px;
}

.rhtimg2 {
  background-color: #7fc027;
  padding-left: 150px;
  color: #fff;
  border-left: 1px solid #1a1919;
  grid-column: auto / span 2;
}

.rhtimg2:hover {
  /* z-index: 10;
  transform: translate(30px, 0);
  transition: 1s;
  /* padding: 10px; */
  border-left: 8px solid #476b16; 
  transform-style: preserve-3d;
  transform: rotateX(-10deg) rotateY(39deg) translateZ(61px) translateX(50px)
    translateY(11px);
  transform-origin: right;
  transition: 1s;
}

.rhtimg2 img {
  object-fit: contain;
}

.rhtimg3 {
  background-color: #7fc027;
  padding: 80px;
  color: #fff;
  border-right: 1px solid #1a1919;
  grid-column: auto / span 2;
}

.rhtimg3:hover {
  /* z-index: 10; 
  transform: translate(-30px);
  transition: 1s;*/
  transform-style: preserve-3d;
  transform: rotateX(10deg) rotateY(-39deg) translateZ(-61px) translateX(-50px)
  translateY(-11px);
  transform-origin: left;
  transition: 1s;
  border-right: 8px solid #476b16; 
}

.rhtimg3 img {
  height: 100px;
  width: 200px;
}

